N8N_BASE_URL=https://seu-n8n.exemplo.com
N8N_EMAIL=usuario@empresa.com
N8N_PASSWORD=sua_senha_aqui

N8N_BASE_URL_TARGET=https://seu-n8n-target.exemplo.com
N8N_EMAIL_TARGET=usuario-target@empresa.com
N8N_PASSWORD_TARGET=sua_senha_nova_aqui
N8N_PROJECT_ID_TARGET=seu_project_id_target

N8N_RULES_PATH=folder-rules.json
N8N_FALLBACK_FOLDER=Outros

EXPORT_DIR=exports
PLAYWRIGHT_SESSION_DIR=.playwright-session
PLAYWRIGHT_SESSION_DIR_TARGET=.playwright-session-new
SCROLL_TIMEOUT=60000
SCROLL_DELAY=1200
SCROLL_AMOUNT=180
SCROLL_MAX_ROUNDS=220
PAGE_TIMEOUT=60000
HEADLESS=false
N8N_IMPORT_ONLY=false
